/* styles.css */
body {
    font-family: Arial, sans-serif;
}

.loading-page {
    text-align: center;
    margin-top: 50px;
}

.loading-indicator {
    margin-top: 20px;
    display: none; /* Initially hide the loading indicator */
}

#content {
    margin-top: 20px;
}
